@page "/"
@inject HttpClient Http

<h1>To Do List:</h1>

@if (list == null)
{
    <p><em>Retreiving list....</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in list)
            {
                <tr>
                    <td>@item.Title</td>
                    <td><form><input type="checkbox" @onchange="@(e => ToggleCompletedAsync(item))" @(item.Completed == true : "checked" : "")/></form></td>
                    <td><button class="btn btn-dark btn-small" @onclick="@(e => DeleteItemAsync(item))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

<br/>
<button class="btn btn-primary" @onclick="AddToDo">Add Item</button>

@code {
    private ToDoItem[] list;

    protected override async Task OnInitializedAsync()
    {
       await RefreshListAsync();
    }

    private async Task AddToDo()
    {
        await Http.SendJsonAsync(HttpMethod.Put, "https://jehollan-todo.azurewebsites.net/api/todo", new ToDoItem
            {
                Id = Guid.NewGuid(),
                Title = "Test",
                Completed = false
            });
        await RefreshListAsync();
    }

    private async Task DeleteItemAsync(ToDoItem item)
    {
        await Http.SendJsonAsync(HttpMethod.Delete, "https://jehollan-todo.azurewebsites.net/api/todo", item);
        await RefreshListAsync();
    }

    private async Task ToggleCompletedAsync(ToDoItem item)
    {
        item.Completed = !item.Completed;
        await Http.SendJsonAsync(HttpMethod.Post, "https://jehollan-todo.azurewebsites.net/api/todo", item);
        await RefreshListAsync();
    }

    private async Task RefreshListAsync()
    {
        list = await Http.GetJsonAsync<ToDoItem[]>("https://jehollan-todo.azurewebsites.net/api/todo");
    }

    public class ToDoItem
    {
        public Guid Id { get; set; }
        public string Title { get; set; }
        public bool Completed { get; set; }
    }
}
