@inherits LayoutComponentBase
@using System.Net.Http
@inject HttpClient Http
@inject FunctionAppState Function

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        
    </div>

    <div class="content px-4">
        @if( Function.FunctionAppName == null )
        {
            <form>
                <div class="input-group mb-3">
                    <input @bind="Function.FunctionAppName" type="text" class="form-control" placeholder="Function App" aria-label="Function App" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">.azurewebsites.net</span>
                    </div>
                </div>
                <div class="input-group mb-sm-2">
                    <button class="btn btn-primary mb-2">Connect</button>
                </div>
            </form>
        }
        else if( Function.Authenticated == null )
        {
            <p>@Function.Authenticated</p>
            <a href="@($"https://{Function.FunctionAppName}.azurewebsites.net/.auth/login/aad")">Please Log In to a Microsoft Account</a>
        }
        else
        {
        @Body
        }
        
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(Function.FunctionAppName != null && Function.Authenticated == null)
        {
            await Authenticate();
        }
    }

    private async Task Authenticate()
    {
        string url = $"https://{Function.FunctionAppName}.azurewebsites.net/.auth/me";
        var result = await Http.GetAsync(url);
        if(result.IsSuccessStatusCode)
        {
            Function.Authenticated = "true";
            this.StateHasChanged();

        }
        Function.Authenticated = "false";
    }
}