@inherits LayoutComponentBase
@using System.Net.Http
@inject HttpClient Http

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        
    </div>

    <div class="content px-4">
        @if( auth == null )
        {
            <a href="https://jehollan-todo.azurewebsites.net/.auth/login/aad">Please Log In to a Microsoft Account</a>
        }
        else
        {
            @Body
        }
    </div>
</div>

@code {
    private string auth;

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetAsync("https://jehollan-todo.azurewebsites.net/.auth/me");
        if(result.IsSuccessStatusCode)
        {
            auth = "LoggedIn";
        }
    }
}